@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Kotta+One&family=Lato:wght@300&display=swap');
.landing {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 700px;
    align-items: center;
    padding-top: 90px;
}

.background {
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    opacity: .2;
    top: 0;
    filter: blur(1px);
}

#num {
    color: black;
    animation: 3s ease-out 0s 1 animationC;
}

.imgHolderA {
    position: relative;
    z-index: -2;
    width: 60px;
    height: 510px;
}

.imgHolderA p {
    font-family: 'Kotta One', serif;
    font-weight: 700;
    position: absolute;
    font-size: 40px;
    transition: .9s;
    color: #F04A24;
}

.cloud {
    position: absolute;
    right: 0;
    top: 20px;
    height: 270px;
    z-index: -1;
    transition: .1s;
    animation: 2s ease-out 0s 1 animationA;
}

.shadow {
    position: absolute;
    right: 0;
    top: 20px;
    height: 220px;
    z-index: -1;
    transition: .1s;
    opacity: .7;
    filter: saturate(109%);
}

.profile2 {
    position: absolute;
    height: 320px;
    top: 90px;
    transition: .1s;
    animation: 2.5s ease-out 0s 1 animationB;
}

.profile1 {
    position: absolute;
    height: 190px;
    bottom: 0px;
    right: 0;
    transition: .1s;
    animation: 2s ease-out 0s 1 animationC;
}

.circle {
    width: 500px;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.circle div {
    height: 150px;
    width: 150px;
    background-color: #F04A24;
    border-radius: 100%;
}

.welcomeTxt {
    width: 100%;
    position: absolute;
    bottom: 70px;
}

.welcomeTxt marquee {
    color: #000000;
    font-size: 55px;
    font-family: 'Quintessential', cursive;
}

.switch {
    width: 100%;
    display: flex;
    padding: 0 5%;
    position: absolute;
    bottom: 60px;
}

.switch i {
    color: #736C5C;
    font-size: 30px;
    animation: rotation 2s infinite linear;
    transition: .4s;
}

.switch i:hover {
    cursor: pointer;
    transform: translate(1.5);
    color: #F04A24;
}

@keyframes animationA {
    0% {
        transform: translate(50%, -1000%) rotateZ(80deg);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animationB {
    0% {
        opacity: 0;
        transform: translate(50%, -1000%) rotateZ(80deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animationC {
    0% {
        opacity: 0;
        transform: translate(30%, -1000%) rotateZ(80deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:800px) {
    .circle {
        display: none;
    }
    .landing {
        padding: 0vh 0 0 0;
        /* overflow-x: hidden; */
        height:100vh;
    }
    .welcomeTxt marquee {}
    .imgHolderA {
        height: 55vh;
    }
    .cloud {
        height: 25vh;
    }
    .profile1 {
        height: 20vh;
    }
    .profile2 {
        height: 30vh;
        filter: grayscale(100%);
    }
}