@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.aboutWork{
    padding: 0% 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.bgImg2{
    width: 45%;
    border-radius: 10px;
}
.aboutWork p:nth-child(1){
    color: #c07b66;
    font-size: 20px;
}
.aboutWork P{
    color:#272727;
    width: 50%;
    font-size: 1.3rem;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: justify;
}
.works{
    padding:2% 10%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.work{
    width: 40%;
    padding: 2% 0;
}
.work p:nth-child(1){
    font-size:4vw;
    font-family: 'Kotta One', serif;
}
@media (max-width:800px) {
    .aboutWork{
        flex-direction: column;
        padding: 4%;
    }
    .aboutWork p{
        color: #535353;
        width: 100%;
        font-size: 1.3rem;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .bgImg2{
        width: 100%;
    }
}