@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Kotta+One&family=Lato:wght@300&family=Playfair+Display&family=Spline+Sans&display=swap');

.Capabilities{
    padding: 5% 5% 1% 10%;
}
.Capabilities p{
    color: #c07b66;
    font-size: 25px;
    position: relative;
}
.Capabilities div  p{
    color: #3a3a3a;
    width: 50%;
    font-size: 1.3rem;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 4px;
}
.Capabilities div{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 10% 0;
}
.Capabilities div div {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items:center;
    padding: 0;
    height: fit-content;
}
.Capabilities div div p{
    padding: 2% 0;
    width: 100%;
    word-spacing: unset;
    letter-spacing: unset;

}

.process{
    padding: 2% 10%;
}
.process p{
    color: #c07b66;
    font-size: 25px;
    position: relative;
}
.process p i{
    position: absolute;
    right: 104%;
    top: 10%;
}
.rotatingCircleHolder{
    width: 100%;
    display: flex;
    padding: 5% 3%;
    justify-content:space-around;
    position: relative;
}
.runningProcessName{
    position: absolute;
    color: #9c9ea5;
    font-size: 49px;
    top: 50%;
    width: 97vw;
    z-index: -1;
    white-space: nowrap;
}
.rotatingCircleBox{
    width: 17vw;
    height: 17vw;
    position: relative;
}
.rotatingCircle{
    width: 120%;
    height: 120%;
    border-radius: 100%;
    border: 3px dashed #9c9ea5;
    position: absolute;
    left:-10%;
    animation: rotation 20s infinite linear;
    transition: .4s;
    
}
.rotatingCircle:hover{
    border: 3px dashed #F04A24;
    cursor: pointer;
    animation: invertRotation 20s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes invertRotation {
    from {
        transform: rotate(359deg) scale(1.1) ;
    }
    to {
        transform: rotate(0deg) ;
    }
}
.rotatingCircle:hover .processBox p:nth-child(2){
    opacity: 1;
}

.processHolder{
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding: 0 3%;
}
.processBox{
    width:17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3% 0;
}
.processBox p:nth-child(1){
    font-size: 29px;
    color: #9c9ea5;
    font-weight: 500;
}
.processBox p:nth-child(2){
    color: #9c9ea5;
    line-height: 35px;
    padding: 5px;
    opacity: .3;
    transition: .4s;
}


.gallery .pixelEscapes{
    color: #F04A24;
    font-size: 20px;
    width: 100%;
    padding: 5% 10%;
}
.gallery .galleryHeading{
    color: #000000;
    width: 100%;
    padding: 5% 10%;
    font-size: 180px;
    width: 100%;
    font-family: 'Kotta One', serif;
    position: relative;
}
.gallery .galleryHeading::after{
    content: '';
    position: absolute;
    background-color: #F04A24;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top: 0;
    right: 60%;
    z-index: -1;
}
.slider{
    width: 100%;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}
.overTxt{
    position: absolute;
    left: 10%;
    bottom: -1%;
    z-index: 1;
    color: #F04A24;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    width: 80%;
}
.imageHolder{
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position:absolute;
    transition: 1s;
}
#slide2{
    transform: translateX(100vw);
}

.swiper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
}
.fa-arrow-right, .fa-arrow-left{
    color: #F04A24;
    font-size: 40px;
    margin: 0 20px;
    cursor: pointer;
}

.imageHolder .img{
    width: 23%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    filter: grayscale(100%);
}
.img p:nth-child(3){
    font-size: 20px;
}
.imageHolder .img .aboutImg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2b0b04c7;
    transform: translateY(-200%);
    transition: .4s;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.aboutImg .serviceName{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.aboutImg .aboutService{
    font-size: 1rem;
    padding: 1rem;
    text-align: justify;
    color: rgb(226, 233, 255);
}
.link1{
   font-size: 15px;
   color: white;
   position: absolute;
   right: 10px;
   /* bottom: 10px; */
}
.imageHolder .img img{
    width: 100%;
    transition: .4s;
}
.imageHolder .img:hover img{
    transform: scale(1.2);
}
.imageHolder .img:hover .aboutImg{
    transform: translateY(0%);
    z-index: 1;
}
@media (max-width:800px) {
    .Capabilities{
        padding: 4%;
    }
    .Capabilities div p{
        color: #535353;
        width: 100%;
        font-size: 1.3rem;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .Capabilities div div{
        width: 100%;
        align-items: center;
    }
    .Capabilities div div p{
        width: 100%;
        text-align: center;
    }
    .process{
        padding: 4%;
    }
    .process p i{
        display: none;
    }
    .processHolder{
        flex-direction: column;
    }
    .processBox{
        width: 100%;
    }
    .processBox p:nth-child(2){
        opacity: 1;
    }
    .gallery .galleryHeading{
        font-size: 40px;
    }
    .gallery .galleryHeading::after{
        width: 50px;
        height: 50px;
        top: 0;
        right:60%;
    }
    .overTxt{
        display: none;
    }
    .imageHolder{
        flex-wrap: wrap;
    }
    .imageHolder .img{
        width: 48%;
        margin:2% 0;
    }
    .aboutImg{
        justify-content: center;
    }
    .aboutImg .aboutService{
        display: none;
    }
    .aboutImg .serviceName{
        font-size:1.4rem;
    }
    .link1{
        bottom: 0;
    }
    .swiper{
        padding: 5%;
    }
    .slider{
        overflow: unset;
        overflow-x: hidden;
    }
    .runningProcessName{
        font-size: 30px;
    }
    
}



