.smLinks{
    position: fixed;
    right: 0;
    top: 35%;
    display: flex;
    flex-direction: column;
}
.smLinks i{
    font-size: 25px;
    margin: 20px;
    transition: .4s;
}
.smLinks i:hover{
    transform: scale(113%);
    cursor: pointer;
}