@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Kotta+One&family=Lato:wght@300&family=Playfair+Display&family=Spline+Sans&display=swap');
*{
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Lato:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}
/* body::-webkit-scrollbar{
  width: 100px;
} */
h1,h2,h3,h4,h5,h6,p,marquee{
  margin: 0;padding: 0;color: #000000;
 
}
a{
  text-decoration:none
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
